@page
@model PetShopOnline.Pages.Shipper.ChangePassword.IndexModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <input asp-for="Account.AccountId" type="hidden" />

        <div class="form-group">
            <label for="currentPassword">Mật khẩu cũ:</label>
            <input type="password" id="currentPassword" asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            <span class="text-danger">@ViewData["PasswordError"]</span>
        </div>

        <div class="form-group">
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" id="newPassword" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Xác nhận lại mật khẩu:</label>
            <input type="password" id="confirmPassword" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
            <span class="text-success">@ViewData["Success"]</span>
        </div>
    </form>
</div>

<link href="~/css/changepassword.css" rel="stylesheet" />
